@import "../components/scrolltop";

//
// Audio
//
audio {
    width: 100%;
}

//
// Vertical Alignment
//
.valign {
    display: flex;
    width: 100%;
    align-items: center;
    .vcontainer {
        width: 100%;
    }
}

//
// Iframe
//
iframe {
    border: 0;
}
